  .mastfoot {
  color: rgba(255, 255, 255, .5);
}

body {
  background-color: #fff;
}

body {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #000;
  /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
}

.jumbotron{
	background-color: #fff;
}

.logo{
	margin-left: 30%;
}

.login{
	margin-right: 5%;
	background-color: #049BE5;
	color: white;
}
.login:hover{
	background-color: white;
	color:#049BE5;
	border-color: #049BE5;
}

.content{
	margin-top: 8%;
	text-align: center;
	margin-bottom: 6%; 

}
.colorIcon{
	color: black;
}
.colorIcon:hover{
	color:#049BE5;
}
.headTableColor{
	background-color: #049BE5;
	color: black;
	text-align: center;
	
}
.btnColor{
	background-color: #049BE5;
	color: white;
	text-decoration: none;
	text-transform: capitalize;
}
.btnColor:hover{
	background-color: white;
	color:#049BE5;
	border-color: #049BE5;
}
.titleSinNegrilla th{
	font-weight: normal;
}
.title{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
td {
	text-align: center;
}
footer{
	height: 12vh;
	background-color: #f8f9fa;
	color: #049be5;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
  	align-items: center;
}
.footerWrapper{
	bottom: 0;
	position: absolute;
}
.cuerpo{
	height: 88vh;
}

.minHeight{
	min-height: 88vh;
}

.centrar-items{
	display: flex;
	justify-content: center;
	align-items: center;	
}



/*CARD*/

.miCard{
	background-color: white;
	text-align: center; 
	color: black;
	margin-left: 25%;
	margin-right: 25%;
	outline: 2px solid #049be5;
	border-radius: 4px;
}
.miCardShow{
	background-color: white;
	text-align: center; 
	color: black;
	margin-left: 25%;
	margin-right: 25%;
	outline: 2px solid white;
	border-radius: 4px;
}
.btnCard{
	margin-left: 35px;
    margin-right: 35px;
}
.btnCardV{
	margin-left: 110px;
    margin-right: 55px;
}
.btnCardA{
	margin-left: 25px;
    margin-right: 25px;
}
.btnCardP{
	margin-left: 45px;
    margin-right: 45px;
}

/*TITULO DEL CARD usar H3*/

.titCard{
	padding: 25px 0;
}

.estiloCard{
	padding: 25px 0;
	margin-left: 45px;
	margin-right: 45px;
}

/*BARRA DE NAVEGADOR*/

.barraNav {
    background-color: #b9bac0;
    text-align: center; 
    height: 30px; 
    overflow: hidden;
    align-content: center;
}
.auxNav{
    background-color: #b9bac0;
    width: 100%;
}
.modLetNav > a {
    color: #ffffff;
    padding:30px 39px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-align: center; 
}
.topNav a:hover, a.active{
    background: white;
    color:#b9bac0;
	border-radius: 0%;
	text-decoration: none;
}
/*BOTON ICON*/
.btnIcon{
    margin-right: 38px;
    border: #f8f9fa;
}

/***/

h3{
	padding:20px;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.myBody{
	padding-top: 90px;
	padding-left: 380px;
}
.myyy{
	padding: 32px;
}
.myPanel{
	background-color: white;
	text-align: center; 
	color: black;
	outline: 1px solid #049be5;
	border-radius: 4px;
	width: 500px;
}
.estiloCardOtro{
	margin-top: 20px;
}
.myBoton{
	margin-top: 5%;
}

.modLetNav{
	height: auto;
	margin-top: 2px;
}
.topNav .barraNav a.active{
	color:#b9bac0;
	background-color: #fff;
}

.dropdown-menu>li>a{
	display: block;
	padding: 5px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}
ul.dropdown-menu a{
	text-decoration: none !important;
	z-index: 1;
}
div.containerTable{
	min-height: 280px;
}
div.containerTableA{
	min-height: 200px;
}
.containerLados{
	min-height: 280px;
	margin-left: 25%;
	margin-right: 25%;
}
.formato-login {
	margin-top: 10%;
	margin-left: 15px;
	margin-right: 15px;
}
.tamLeft{
	margin-left: 200px;
}
.tamRight{
	margin-right: 200px;
}
.selectionFile{
	width: 420px;
}

.formFoto{
	display: block;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
	margin:4px 240px;
}
.classImgDefault{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.formFoto img{
	width: 100%;
}
.examinar{
	margin-left: 70px;
}
.form-import{
	margin-top: 3%;
	margin-bottom: 3%;
	padding: 0px 75px;
}
.entrada{
	margin-top: 9px;
	padding: 6px;
}
#archivo{
	/* visibility: hidden;
	width: 1px; */
	display: none;
}
/**/
div.btnFormat{
	margin-bottom: 3%;
}
.btnFormatIS{
	margin-bottom: 4%;
}
btnFile{
	background-color: white;
	color: #049BE5;
	text-decoration: none;
	text-transform: capitalize;
	border: #049BE5;
}
.btnFile:hover{
	background-color: #049BE5;
	color:white;
	border-color: #049BE5;
}
.info{
	color: #049BE5;	
}
.fotoPerfil{
	height: 180px;
	width: 180px;
}
.alertLogin{
	height: 53px;
	margin-bottom: -32px;
	padding-bottom: 37px;
	width: 438px;
	margin-left: 31px;
}

.marginFieldReset{
	margin-right: 5%;
	margin-left: 5%;
}
.marginResetButton{
	margin-top: 7%;
}

.myBotonReset{
	margin-top: 10%;
}

#iconEye:hover, #iconEyeConfirm:hover{
	cursor:pointer;
}

.form-controls {
	width: 100%;
}

.marginIcon{
	margin-left: 5%;
	margin-right: 5%;
}
.alineadoRight{
	text-align: right;
	
}
.alineadoLeft{
	text-align: left;
	text-transform: unset;
}
.fontS{
	text-transform: capitalize;
}
#pai div{
	display: none;
}
.btnArriba{
	width: 40px;
	height: 30px;
	border-color: red;
	border-radius: 5px;
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 20px;
	font-weight: normal;
	border-color: #59B2E6;
}
.btnArriba:hover,
.btnArriba:focus {
	color: #59B2E0;
	background-color: white;
	border-color: #53A3CD;
}
.smallWord{
	line-height: 0.1;
	font-size: 13.5;
}
.menuDropNotif {
	width: 290px !important;
	overflow: auto;
	position: absolute;
    top: 100%;
	left: -240;
	right: 50px;
}
#notifCount.notifTopbar {
    position: absolute;
    top: -3px;
    right:17px;
    color: hsl(235, 15%, 96%);
    background-color:red;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    line-height: 18px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}
.posIcon{
	position: absolute;
	right: 0px;
	margin:0px;
	margin-block-end: 0% !important;
	margin-top: 5px;
}
.btnNotif{
	color: #000;
}
.marginR{
	margin-right: 20px;
}
.marginNotif{
	margin-right:60px;
}
.menuDrop{
	position: absolute;
    top: 100%;
	left: -60;
	right: 50px;
}
.txtL{
	text-align: left;
}